

<div class="homeclass"  >
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/register">Register</a></li>
  <li style="float:right"><a routerLink="/register">About</a></li>
</ul>
</div>

<div class="container">
    <div class="para">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <!-- <div class="quote">
      Your human talent is your most important talent.<br>
        -Carla Harris,

    </div> -->

</div>






